@import "styles/variables";
@import "styles/mixins";

.customerListing__container {
  @include flex_center;
  padding: 20px;
}

.customerListing__gridItem {
  background-color: var(--default);
  // padding: 40px 30px;
  border-radius: 12px;
}
