@import "../../../styles/mixins";
@import "../../../styles/variables";

.addSecurityTable__heading {
  text-align: center;
  @include margin_bottom(8px);
}

.addSecurityTable__Container {
  // width: 700px;
  border-radius: 16px;
  padding: 15px;
  @include card_box_shadow;
}
.addSecurityTable__form {
  @include flexbox;
  @include gap(10px);
}

.addSecurityTable_selectInput {
  @include flexbox;
  @include flex_directions(column);
  width: 70%;
  @include lg_down {
    width: 60%;
  }
}

.addSecurityTable_textInput {
  @include flexbox;
  @include flex_directions(column);
  width: 20%;
  @include lg_down {
    width: 30%;
  }
}

.addSecurityTable__addBtn {
  height: 56px;
  width: 10%;
}
.addSecurityTable_dataTableWrapper {
  border-radius: 20px;
  @include card_box_shadow;
}

// .addSecurityTable_selectEdit {
//   width: 90%;
// }

// .addSecurityTable_TextEdit {
//   width: 50%;
// }

// .addSecurityTable_editBtnContainer {
// }
