@import "styles/mixins";
@import "styles/variables";

.loginContainer {
  @include justify_content(center);
  @include align_items(center);
  height: 80vh;
}

.login__logoContainer {
  width: 120px;
}
.login__logo {
  max-width: 100%;
  height: auto;
}

.login__formIcon {
  background-color: var(--violate);
}
.login__submitBtn {
  @include margin_top(8px);
}

