@import "../../../styles/variables";
@import "../../../styles/mixins";

.securityContainer {
  min-height: 100vh;
  padding-bottom: 20px;
}
.addSecurityButton {
  @include margin_bottom(20px);
}

.securityListing__paginationContainer {
  @include flexbox;
  @include justify_content(flex-end);
  @include align_items(center);
  width: 100%;
  position: absolute;
  padding-bottom: 20px;
  right: 20px;
  margin-top: 20px;
}
