.custom-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.65rem 1.3rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &--filled {
    color: var(--light-belge1);
    background-color: var(--dark-maroon);
    border: 2px solid var(--dark-maroon);

    &:hover {
      color: var(--dark-maroon);
      background-color: var(--light-belge1);
      border: 2px solid var(--dark-maroon);
    }

    &:active {
      background-color: darken(#89375f, 10%);
      color: var(--light-belge1);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--dark-maroon), 0.5);
    }
  }

  //unfilled
  &--unfilled {
    color: var(--dark-maroon);
    background-color: var(--light-belge1);
    border: 2px solid var(--dark-maroon);

    &:hover {
      color: var(--light-belge1);
      background-color: var(--dark-maroon);
      border: 2px solid var(--dark-maroon);
    }

    &:active {
      background-color: darken(#89375f, 10%);
      color: var(--light-belge1);
    }

    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--dark-maroon), 0.5);
    }

    &--disabled {
      opacity: 0.5;
      cursor: not-allowed;
      color: rgba(var(--dark-maroon), 0.5);
      border-color: rgba(var(--dark-maroon), 0.5);
    }
    &--full-width {
      width: 100%;
    }
  }

  &__icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    font-size: 1.25rem;

    &--left {
      margin-right: 0.5rem;
    }

    &--right {
      margin-left: 0.5rem;
    }
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
    &:hover {
      color: var(--light-belge1);
      background-color: var(--dark-maroon);
    }
  }
  &--full-width {
    width: 100%;
  }

  &--square {
    border-radius: 0.4rem;
  }
}
