@import "styles/variables";
@import "styles/mixins";

.customerdetails__container {
  @include flex_center;
  padding-top: 20px;
}

.customerdetails__container__gridItem {
  background-color: var(--default);
  @include flex_center;
  margin: 0 auto;
  @include card_box_shadow;
  border-radius: var(--card-border-radius);
  & > div {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.customerDetails__tabs {
  .MuiTabs-flexContainer {
    flex-wrap: wrap;
  }
}

.customerDetails__tab {
  text-transform: none;
  font-size: 16px;
}

.customerDetails__tab__active {
  .MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: var(--light-belge2);
  }
}

.customerDetails__table__container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.customerDetails__table {
  th {
    background-color: var(--gray);
    font-weight: bold;
    font-size: 16px;
  }
}

.customerDetails__table_column_one {
  width: 30%;
  @include sm {
    width: auto;
  }
}
.customerDetails__table_column_two {
  width: 60%;
  @include sm {
    width: auto;
  }
}
.customerDetails__table__editinput__container {
  @include flexbox;
  @include flex_directions(column);
}

.customerDetails__button__container {
  @include flex_center;
  margin-top: 20px;
  gap: 10px;

  button {
    width: 100px;
  }
}
