@import "../../../styles/mixins";
@import "../../../styles/variables";

.btn {
  color: var(--dark-maroon);
  background-color: var(--light-belge1);
  border: 2px solid var(--dark-maroon);
  border-radius: 24px;
  text-transform: capitalize;
  width: 120px;
  transition-property: none;

  &:hover {
    background-color: var(--dark-maroon);
    color: var(--light-belge1);
    transition-property: none;
  }
}
