@import "styles/mixins";
@import "styles/variables";

.paymentChannelCard {
  padding: 15px;
  border-radius: 10px;
  min-height: 170px;
  cursor: pointer;
  @include card_box_shadow;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
  // @include sm {
  //   height: 180px;
  // }
}
.paymentChannelCard__contentContainer {
  min-height: 80px;
}
.paymentChannelCard__containWrapper {
  @include flexbox;
  @include gap(5px);
}

.paymentChannelCard__itemKey {
  color: var(--emperor-grey);
  font-weight: 600;
  display: inline-block;
  width: 55%;
  word-break: break-word;

  font-size: 0.9rem;
}
.paymentChannelCard__itemValue {
  text-transform: capitalize;
  display: inline-block;
  width: 45%;
  word-break: break-word;
  font-size: 0.9rem;
}

.paymentChannelCard__notAvailableText {
  @include margin_top(2px);
}

.paymentChannelCard__Actions {
  @include flex_center;
  @include gap(5px);
}

.paymentChannelCard__btn {
  width: 80px;
  font-size: 0.85rem;
}
