@import "variables";
@import "mixins";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
html {
  font-size: 16px;
}

body {
  margin: 0;
  background-color: var(--light-peach);
  font-family: "Roboto", sans-serif;
  position: relative;
}

.active {
  background-color: var(--dark-belge);
  .MuiListItemIcon-root,
  .MuiListItemText-root {
    font-weight: bold;
  }
}

a {
  text-decoration: none !important;
  color: white;
}

.typography_width {
  width: 20px !important;
}

.error {
  font-size: 12px;
  margin-top: 5px;
  color: var(--danger);
}
.mt {
  margin-top: 15px !important;
}
.mb {
  margin-bottom: 5px !important;
}
.ml-100 {
  margin-left: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.default_margin {
  margin-top: 5px;
  margin-bottom: 5px;
}

.text_right {
  text-align: right;
}
.grid_container_center {
  justify-content: center;
  align-items: center;
}

.text_center {
  text-align: center;
}

.mt_10 {
  margin-top: 10px;
}
.mb_10 {
  margin-bottom: 10px;
}

.text_uppercase {
  text-transform: uppercase;
}
.text_capitalize {
  text-transform: capitalize;
}

.home__container {
  padding: 12px 16px 30px 260px;
  margin-top: 60px;
}

//App bar
.MuiAppBar-root {
  background-color: var(--light-belge1);
}

// MUI Menu items

.MuiMenuItem-root {
  font-size: 0.9rem;
}

//MUI drawer

.MuiDrawer-paper {
  background-color: var(--light-belge2);
}
//MUI paginations component

.MuiPaginationItem-root.Mui-selected {
  background-color: var(--dark-maroon);
  color: var(--light-belge1);
  &:hover {
    background-color: var(--dark-maroon);
    color: var(--light-belge1);
  }
}
.MuiPaginationItem-root:focus {
  background-color: var(--dark-maroon);
  color: var(--light-belge1);
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--very-light-gray);
}

.MuiInputLabel-root.Mui-focused {
  color: var(--black);
}

.buttons_container {
  @include flex_center;
  width: 100%;
  @include gap(10px);
  @include margin_top(12px);
}

.textInput__rightAlighed {
  .MuiOutlinedInput-input {
    text-align: right;
  }
}

//----- form styles -----//

.form_styles {
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.form__gridCenter {
  @include align_items(center);
  @include justify_content(center);
  margin-top: 50px;
}

.form__container {
  @include flexbox;
  @include flex_directions(column);
  @include align_items(flex-start);
  @include justify_content(center);
  background-color: var(--default);
  padding: 20px;
}

.form__headingWrapper {
  @include flexbox;
  @include flex_directions(column);
  @include align_items(center);
}

.form__icon {
  background-color: var(--violate);
}
.form__submitBtn {
  @include align_self(center);
}
.form__textInput {
  @include margin_top(8px);
  @include margin_bottom(8px);
}

.form__selectInput {
  @include margin_top(8px);
  @include margin_bottom(8px);
}

.form__checkBoxInput {
  @include margin_left(0);
  @include margin_right(0);
}

//----- listing styles -----//
.Listing__container {
  @include margin_bottom(30px);
  min-height: 70vh;
}
.Listing__paginationContainer {
  @include flexbox;
  @include justify_content(flex-end);
  @include align_items(center);
  width: 100%;
  @include margin_bottom(20px);
}

.Listing__addButton {
  @include margin_bottom(20px);
}

//----- Details styles -----//
.Details__container {
  @include flexbox;
  @include justify_content(center);
  @include align_items(center);
}
.Details__heading {
  margin-bottom: 30px;
  text-align: center;
}
.Details {
  @include card_box_shadow;
  border-radius: var(--card-border-radius);
  padding: 18px 20px;
  @include flex_wrap(wrap);
  cursor: pointer;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
}

.Details__body {
  div {
    @include margin_bottom(15px);
  }
}

.Details__itemKey {
  color: var(--emperor-grey);
  font-weight: 600;
  display: inline-block;
  flex: 1;
}

.Details__itemValue {
  text-transform: capitalize;
  display: inline-block;
  flex: 1;
  word-wrap: break-word;
}

.Details__buttonContainer {
  @include flex_center;
}

.Details__button {
  width: 120px;
}

//----- Cards styles -----//

.Card {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 150px;
  @include card_box_shadow;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
}
.Card__containWrapper {
  @include flexbox;
  @include gap(5px);
}

.Card__itemKey {
  color: var(--emperor-grey);
  font-weight: 600;
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
  @include lg_down {
    flex: 1;
  }
}
.Card__itemValue {
  text-transform: capitalize;
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
  @include lg_down {
    flex: 1;
  }
}

.Card__notAvailableText {
  @include margin_top(2px);
}

.Card__Actions {
  @include flex_center;
  @include gap(5px);
}

.Card__btn {
  width: 80px;
  font-size: 0.85rem;
}
.card__contentContainer {
  height: 70px;
}

.MuiTab-root.Mui-selected {
  background-color: var(--dark-maroon);
  color: var(--default);
  border-radius: 1.5rem;
}
.MuiTabs-indicator {
  background-color: transparent;
}
