:root {
  /*-------------App Colors-------------*/

  /*-------------Colors-------------*/
  --default: #ffffff;
  --black: #000000;
  --emperor-grey: #666666;
  --ivory: #eeeeee;
  --light-belge1: #f8ede3;
  --light-belge2: #dfd3c3;
  --dark-belge: #d0b8a8;
  --dark-maroon: #7d6e83;
  --very-light-gray: #cacaca;
  --danger: #ff0000;
  --light-peach: #f9f3f3;
  //card
  --card-border-radius: 10px;
  --card-padding: 15px;
}
