:root {
  /*-------------App Colors-------------*/

  /*-------------Colors-------------*/
  --default: #ffffff;
  --black: #000000;
  --emperor-grey: #666666;
  --ivory: #eeeeee;
  --light-belge1: #f8ede3;
  --light-belge2: #dfd3c3;
  --dark-belge1: #d0b8a8;
  --dark-belgen2: #7d6e83;
  --dark-brown: #867070;
  --dark-maroon: #aa5656;
  --very-light-gray: #cacaca;
  --danger: #ff0000;

  //card
  --card-border-radius: 10px;
  --card-padding: 15px;
}

//#AA5656
