@import "../../../styles/mixins";
@import "../../../styles/variables";

.bankCard {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 150px;
  @include card_box_shadow;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
  @include sm {
    height: 120px;
  }
}
.bankCard__containWrapper {
  @include flexbox;
  @include gap(5px);
}

.bankCard__itemKey {
  color: var(--emperor-grey);
  font-weight: 600;
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
  @include lg_down {
    flex: 1;
  }
}
.bankCard__itemValue {
  text-transform: capitalize;
  display: inline-block;
  flex: 1;
  font-size: 0.9rem;
  @include lg_down {
    flex: 1;
  }
}

.bankCard__notAvailableText {
  @include margin_top(2px);
}

.bankCard__Actions {
  @include flex_center;
  @include gap(5px);
}

.bankCard__btn {
  width: 80px;
  font-size: 0.85rem;
}
