@import "styles/mixins";
@import "styles/variables";

.navbar {
  @include flexbox;
  @include justify_content(space-between);
  height: 70px;

  &__leftmenu {
    @include flexbox;
    @include align_items(center);
    width: 60%;
    .logoContainer {
      width: 225px;
    }
    .logo {
      width: 50px;
      object-fit: cover;
      color: var(--default);
    }

    @include sm {
      width: 100%;
      .logoContainer {
        width: 100px;
      }
    }

    h2 {
      color: var(--dark-maroon);
      font-size: 22px;
      @include sm {
        font-size: 18px;
      }
      @include xs {
        display: none;
      }
    }
  }
}

.humburgeMenu {
  color: var(--dark-maroon);
}

.UserMenu {
  @include sm_down {
    display: none;
  }
}

.userName {
  color: var(--dark-maroon);
  text-transform: capitalize;
  cursor: pointer;
  @include flexbox;
  @include flex_directions(column);
  @include justify_content(center);
  @include align_items(center);
  .userAvatar {
    background-color: var(--dark-maroon);
    width: 30px;
    height: 30px;
  }
  p {
    font-weight: 800;
  }
}
