@import "../../../styles/mixins";
@import "../../../styles/variables";

.viewSecurity__container {
  @include flexbox;
  @include justify_content(center);
  @include align_items(center);
  // height: 80vh;
}
.viewSecurity__heading {
  margin-bottom: 30px;
  text-align: center;
}
.viewSecurity {
  @include card_box_shadow;
  border-radius: var(--card-border-radius);
  padding: 18px 20px;
  @include flex_wrap(wrap);
  cursor: pointer;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
}

.viewSecurity__body {
  div {
    @include margin_bottom(15px);
  }
}

.viewSecurity__itemKey {
  color: var(--emperor-grey);
  font-weight: 600;
  display: inline-block;
  width: 35%;
}

.viewSecurity__itemValue {
  text-transform: capitalize;
  display: inline-block;
  width: 60%;
}

.viewSecurity__buttonContainer {
  @include flex_center;
}

.viewSecurity__button {
  width: 120px;
}
