@import "styles/variables";
@import "styles/mixins";

.logoContainer {
  @include flexbox;
  @include align_items(center);
  @include justify_content(center);
  @include flex_directions(column);
  width: 100%;
  @include gap(15px);
  @include margin_bottom(10px);
}
.logo {
  width: 60px;
  object-fit: cover;
  color: var(--default);
}

// styles.module.scss
// styles.module.scss

.listItem {
  color: black;
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 10px 15px 0;
  width: auto;
  border-radius: 3px;
  padding: 10px 15px;
  transition: all 300ms linear;

  // &:hover {
  //   background-color: var(--light-peach);

  //   .listItemIcon,
  //   .listItemText {
  //     color: var(--dark-maroon);
  //   }
  // }

  .listItemIcon,
  .listItemText {
    transition: all 0.3s ease-in-out;
    color: black;
  }
}

.listItem {
  &Icon,
  &Text {
    color: black;
  }
}
