@import "../../styles/variables";
@import "../../styles/mixins";

.sidebar {
  background-color: var(--light-belge1);
}

.sidebar__menu {
  color: var(--dark-maroon);
  padding: 10px;
}

.sidebar__menuIcon {
  color: var(--dark-maroon);
}

.logoContainer {
  @include flexbox;
  @include align_items(center);
  @include justify_content(center);
  @include flex_directions(column);
  width: 100%;
  @include gap(15px);
  @include margin_bottom(10px);
}
.logo {
  width: 60px;
  object-fit: cover;
  color: var(--default);
}
