@import "styles/variables";
@import "styles/mixins";

.custom__table {
  //   background-color: var(--default);

  thead {
    // background-color: var(--gray);
    th {
      font-size: 1rem;
      text-align: center;
      border-left: 1px solid var(--light-cream);
      border-right: 1px solid var(--light-cream);
    }
  }
  td,
  th {
    padding: 16px 26px;
    border-top: 1px solid var(--light-cream);
  }
  td {
    border-top: 1px solid var(--light-cream);
    border-left: 1px solid var(--light-cream);
    border-right: 1px solid var(--light-cream);
    text-align: center;
  }
}
.custom__table__body {
  tr {
    cursor: pointer;
  }
}

.activeRow {
  td {
    color: blue;
  }
}
