@import "styles/mixins";
@import "styles/variables";

.omniBusAccountCard {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  height: 150px;
  @include card_box_shadow;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
}
.omniBusAccountCard__containWrapper {
  @include flexbox;
  @include gap(5px);
}

.omniBusAccountCard__itemKey {
  color: var(--emperor-grey);
  font-weight: 600;
  display: inline-block;
  width: 55%;
  font-size: 0.9rem;
  @include lg_down {
    flex: 1;
  }
}
.omniBusAccountCard__itemValue {
  text-transform: capitalize;
  display: inline-block;
  width: 45%;
  font-size: 0.9rem;
  @include lg_down {
    flex: 1;
  }
}

.omniBusAccountCard__notAvailableText {
  @include margin_top(2px);
}

.omniBusAccountCard__Actions {
  @include flex_center;
  @include gap(5px);
}

.omniBusAccountCard__btn {
  width: 80px;
  font-size: 0.85rem;
}
