@import "../../../styles/mixins";
@import "../../../styles/variables";

.portfolioDetails__container {
  @include flexbox;
  @include justify_content(center);
  @include align_items(center);
}
.portfolioDetails__heading {
  margin-bottom: 30px;
  text-align: center;
}
.portfolioDetails {
  @include card_box_shadow;
  border-radius: var(--card-border-radius);
  padding: 18px 20px;
  @include flex_wrap(wrap);
  cursor: pointer;
  &:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
}

.portfolioDetails__body {
  div {
    @include margin_bottom(15px);
  }
}

.portfolioDetails__itemKey {
  color: var(--emperor-grey);
  font-weight: 600;
  display: inline-block;
  width: 55%;
}

.portfolioDetails__itemValue {
  text-transform: capitalize;
  display: inline-block;
  width: 45%;
}
.portfolioDetails__textArabic {
  width: 25%;
}
.portfolioDetails__buttonContainer {
  @include flex_center;
}

.portfolioDetails__btn {
  width: 120px;
}

.portfolioDetails__portfolioSecuritiesContainer {
  @include margin_top(10px);
  @include flexbox;
  @include justify_content(flex-start);
  @include align_items(center);
  @include gap(10px);
}

.portfolioDetails__portfolioSecuritiesContainerInner {
  @include margin_right(5px);
  @include flexbox;
  @include justify_content(flex-start);
  @include align_items(center);
  @include gap(10px);
}

.portfolioDetails__containWrapper {
  @include flexbox;
}
