@import "../../../styles/mixins";
@import "../../../styles/variables";

.addCurrency__gridCenter {
  @include align_items(center);
  @include justify_content(center);
  margin-top: 50px;
}
.addCurrency__formContainer {
  @include flexbox;
  @include flex_directions(column);
  @include align_items(flex-start);
  @include justify_content(center);
  background-color: var(--default);
  padding: 20px;
}

.addCurrency__formIcon_wrapper {
  @include flexbox;
  @include flex_directions(column);
  @include align_items(center);
}
.addCurrency__formIcon {
  background-color: var(--violate);
}
.addCurrency__submitBtn {
  @include align_self(center);
}
.addCurrency__textInput {
  @include margin_top(8px);
  @include margin_bottom(8px);
}

.addCurrency__selectInput {
  @include margin_top(8px);
  @include margin_bottom(8px);
}

.addCurrency__checkBoxInput {
  @include margin_left(0);
  @include margin_right(0);
}

.addBtn {
  @include margin_top(8px);
}
