@import "../../../styles/variables";
@import "../../../styles/mixins";

.bankListing__container {
  @include margin_bottom(30px);
  min-height: 70vh;
}

.addBankButton {
  @include margin_bottom(20px);
}

.banklisting_textCenter {
  p {
    text-align: center;
  }
}
.bankListing__paginationContainer {
  @include flexbox;
  @include justify_content(flex-end);
  @include align_items(center);
  width: 100%;
  @include margin_bottom(20px);
}
